.csv
.vscode
.cache
firmware/.cache
firmware/build
firmware/sdkconfig
firmware/sdkconfig.old
build/
output/
sdkconfig
sdkconfig.old
.cache

*.jar
*.war
*.ear
*.nar

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
*.history
\#auto_saved_files#

*.net

*.dsn
*.ses

*.xml
*.csv

*-backups
*.zip

*.kicad_prl
